# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

serverless.env.yml

# Token is recreated upon authorization
token.json

# google creds
credentials.json

# serverless.env.yml
serverless.env.yml
serverless.env-test.yml

#vscode
.vscode