[Unit]
Description=Amida Dashboard Calendar

[Service]
ExecStart=${BASEDIR}/backends/k8s-status-service/run.sh
Restart=on-failure

[Install]
WantedBy=graphical.target
