[Unit]
Description=Amida Dashboard Calendar

[Service]
ExecStart=${BASEDIR}/backends/calendar/run.sh
Restart=on-failure

[Install]
WantedBy=graphical.target
