[Unit]
Description=Amida Dashboard Frontend

[Service]
ExecStart=${BASEDIR}/frontend/run.sh
Restart=on-failure
User=${USER}
Group=${USER}

[Install]
WantedBy=graphical.target
