[Unit]
Description=Amida Dashboard Calendar

[Service]
ExecStart=${BASEDIR}/backends/k8s-status-service/run.sh
Restart=on-failure
User=${DOCKER_USER}
Group=${DOCKER_USER}

[Install]
WantedBy=graphical.target
