[Desktop Entry]
Type=Application
Name=Dashboard
Exec=chromium-browser --kiosk --fullscreen --no-default-browser-check --disable-session-crashed-bubble --password-store=basic "http://localhost:8080"
Comment=Dashboard
X-MATE-Autostart-Phase=Applications
X-MATE-Autostart-Delay=5
