// Cool Gray (neutrals)
$darkest-gray: #1F2933;
$arsenic: #323F4B;
$cello: #3F4C59;
$shuttle-grey: #53606E;
$raven: #616E7C;
$light-slate-gray: #7B8794;
$grey-chateau: #9AA5B0;
$link-water: #CCD2D9;
$solitude: #E4E7Eb;
$lightest-gray: #F5F7FA;

// Amida Blue (accents)
$midnight-express: #051A39;
$regal-blue: #123053;
$dark-cerulean: #14456E;
$bahama-blue: #1E5A87;
$lochmara: #256FA1;
$danube: #548DB7;
$polo-blue: #84ACCD;
$light-steel-blue: #B3CCE1;
$pattens-blue: #CFDEED;
$solitude: #EBF0F9;


$maroon: #85144b;
$fuchsia: #F012BE;