$font-primary: Source Sans Pro;
@include fetchFromGoogleFonts($font-primary);
$font-secondary: Lato;
@include fetchFromGoogleFonts($font-secondary);
$font-monospace: Source Code Pro;
@include fetchFromGoogleFonts($font-monospace);
